<div class="container">
  	<div class="row justify-content-left">
    	<div class="col-2">
      		Stack Operations
		</div>
		<div class = "col1">
			Stack
		</div>
	</div>
	<div class = "row">
		<div class = "col-2">
			<div class="input-group push">		
  			<div class="input-group-prepend">
    		<button class="btn btn-outline-secondary" type="button" id="button-push">Push</button>
  			<input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-push">
			</div>
			
			<div class = "input-group pop">
			<button class="btn btn-outline-secondary" type="button" id="button-pop">Pop</button>
	`		</div>
	
			<div class = "input-group peek">
			<button class="btn btn-outline-secondary" type="button" id="button-peek">Peek</button>
			<input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-peek">
			</div>	
			</div>
		</div>
		<div class = "col-1">
		<ul class="list-group">
		  <li class="list-group-item">1</li>
		  <li class="list-group-item">2</li>
		  <li class="list-group-item">3</li>
		  <li class="list-group-item">4</li>
		  <li class="list-group-item">5</li>
		</ul>
		</div>
	</div>
</div>	

 
