<div class="container-fluid">
	<div class = "row bg-light">
		<div class = "col-3 m-5">
		<ul class="list-group shadow-sm mb-5 bg-white rounded">
		  <li class="list-group-item list-group-item-action" *ngFor="let item of (stack?stack.data:[])">{{item}}</li>
		</ul>
		</div>
	</div>
	<div class="row">
		<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
		  <div class="input-group mr-2">
		    <div class="input-group-prepend">
				<button type="button" class = "btn btn-primary" (click) = "push()">Push</button>
		    </div>
		    <input type="text" class="form-control" placeholder="Input group example" [(ngModel)]="inputToPush" aria-label="Input group example" aria-describedby="btnGroupAddon">
		  </div>
		    <button type="button" class="btn btn-primary  mr-2" (click) = "pop()">Pop</button>
		  <div class="input-group">
		    <div class="input-group-prepend">
			    <button type="button" class="btn btn-primary" (click) = "peek()">Peek</button>
		    </div>
			<span type="text" class="input-group">{{peekValue}}</span>
		  </div>
		</div>
	</div>
</div>	
