<div style = "text-align: center">
<h1 class = "background-color: aqua"> {{title}}</h1>
</div>


<ngb-tabset>
  <ngb-tab title="Stack">
    <ng-template ngbTabContent>
		<app-stackqueue></app-stackqueue>
    </ng-template>
  </ngb-tab>

  <ngb-tab title = "Queue">
    <ng-template ngbTabContent>
	Queue Implementation
	<app-stackqueue></app-stackqueue>
	
    </ng-template>
  </ngb-tab>

  <ngb-tab title="ArrayList">
    <ng-template ngbTabContent>
	Array List Implementation
    </ng-template>
  </ngb-tab>

  <ngb-tab title="LinkedList">
    <ng-template ngbTabContent>
    Linked List Implementation
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Binary Search Tree">
    <ng-template ngbTabContent>
  	Binary Search Tree Implementation
    </ng-template>
  </ngb-tab>
</ngb-tabset>
